<?xml version="1.0" encoding="UTF-8" ?>
<!--
/*

 * Copyright 2017-2025  [webank-wedpr]
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the License
 * is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing permissions and limitations under
 * the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.wedpr.components.db.mapper.service.publish.dao.ServiceAuthMapper">
    <resultMap id="ServiceAuthInfoMap" type="com.webank.wedpr.components.db.mapper.service.publish.dao.ServiceAuthInfo">
        <id column="id" property="id"/>
        <result column="service_id" property="serviceId"/>
        <result column="access_key_id" property="accessKeyId"/>
        <result column="expire_time" property="expireTime"/>
        <result column="apply_time" property="applyTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>
    <select id="queryServiceAuth" resultMap="ServiceAuthInfoMap">
        select *
        from wedpr_service_auth_table where 1=1
        <choose>
            <when test="condition != null and condition != ''">
                <if test="condition.id != null and condition.id !=''">
                    and `id` = #{condition.id}
                </if>
                <if test="condition.accessKeyId != null and condition.accessKeyId !=''">
                    and `access_key_id` = #{condition.accessKeyId}
                </if>
                <if test="condition.startTime != null and condition.startTime  != ''">
                    <![CDATA[ and datediff(apply_time, #{condition.startTime}) >= 0]]>
                </if>
                <if test="condition.endTime != null and condition.endTime  != ''">
                    <![CDATA[ and datediff(apply_time, #{condition.endTime}) <= 0]]>
                </if>
            </when>
        </choose>
        order by `last_update_time` desc
    </select>
</mapper>